.formularioregistrarsecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    width: 60%;
    flex-direction: column;
    padding: 2rem;
    border: 3px solid #75d569;
}

.formularioregistrarsecontainer>h2 {
    font-size: 50px;
}

.formularioregistrarseusername,
.formularioregistrarsenombre,
.formularioregistrarsenacionalidad,
.formularioregistrarsepassword,
.formularioregistrarseemail {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    max-width: 25rem;
}

/*-------------------------------------------------------*/

/* Inputs */
.formularioregistrarseusername>input,
.formularioregistrarsenombre>input,
.formularioregistrarsenacionalidad>select,
.formularioregistrarsepassword>input,
.formularioregistrarsenacionalidad>select>option,
.formularioregistrarseemail>input {
    width: 100%;
    padding: .5rem .8rem;
    outline: none;
    border-radius: 24px;
    border: 3px solid #75d569;
    background-color: #0E212A;
    color: #75d569;
}


/*-------------------------------------------------------*/

/* Botón Envíar */
.formularioregistrarsecontainer>button {
    margin: 1rem 0;
    border: 2px solid #75d569;
    color: #75d569;
    border-radius: 10px;
    height: 3rem;
    width: 9rem;
    font-size: 19px;
    font-weight: bold;
    padding: .1rem .2rem;
    cursor: pointer;
    background-color: transparent;
}

.formularioregistrarsecontainer>button:hover {
    background-color: #75d5697f;
    border: 2px solid #75d569;
}

/*-------------------------------------------------------*/

.yatengounacuentacontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.yatengounacuentacontainer>a {
    color: #75d5697f;
    font-size: 18px;
}

.yatengounacuentacontainer>a:hover {
    color: #75d569;
}

/*-------------------------------------------------------*/

/* Mediaquerys 350px a 720px */
@media (min-width: 350px) and (max-width: 720px) {
    .formularioregistrarsecontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 0 auto;
        width: 80%;
        flex-direction: column;
    }
    
    .formularioregistrarseusername,
    .formularioregistrarsepassword,
    .formularioregistrarseemail {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        gap: .5rem;
        width: 100%;
    }

}