.formularioiniciarcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    width: 50%;
    flex-direction: column;
    padding: 1rem;
}

.formularioiniciarusername,
.formularioiniciarpassword {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

/* Inputs */
.formularioiniciarusername>input,
.formularioiniciarpassword>input {
    width: 100%;
    padding: .3rem;
    outline: none;
    border-radius: 5px;
    border: 3px solid #36B6FF;
}

/* Botón Envíar */
.formularioiniciarcontainer>button {
    padding: .5rem 2rem;
    cursor: pointer;
    margin: 1rem 0;
    background-color: #09092b;
    color: #09092b;
    border: 2px solid #36B6FF;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
}

.formularioiniciarcontainer>button:hover {
    background-color: #36b5ff83;
    border: 2px solid #36B6FF;
}