.carruselconselectorcontainer {
    width: 100%;
    height: 75dvh;
    overflow: hidden;
    position: relative;
}

/*-------------------------------------------------------*/

/* Selectores */
.carruselconselectorcontainerselector {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.selectorcarrusel {
    border-radius: 50%;
    background-color: transparent;
    border: 5px solid #ffffff;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.selectorcarrusel.active {
    background-color: #FFF;
}

/*-------------------------------------------------------*/

/* Contenedos de imagenes */
.carruselconselectorcontainerimgs {
    display: flex;
    width: 100%;
    list-style: none;
}

.carruselconselectorimagenesytexto {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: #fff;
    text-align: center;
    opacity: 0;
}

.carruselconselectorimagenesytexto>img {
    height: 100%;
    width: 100%;
}

.carruselconselectorimagenesytexto.visible {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.carruselconselectorimagenesytexto.hidden {
    opacity: 0;
}

/*-------------------------------------------------------*/

/* Texto */
.carruselconselectorimagenesytexto>h3 {
    font-size: 60px;
    color: #75d569;
    background-color: #000000bc;
    padding: 1rem;
}

.carruselconselectorimagenesytexto>span {
    font-size: 25px;
    color: #75d569;
    background-color: #000000bc;
    padding: 1rem;
}

/*-------------------------------------------------------*/

/* Mediaquerys 350px a 720px */
@media (min-width: 350px) and (max-width: 720px) {
    .carruselconselectorcontainer {
        height: 30vh;
    }

    /* Selectores */
    .carruselconselectorcontainerselector {
        right: 1rem;
        bottom: 1rem;
    }

    .selectorcarrusel {
        border: 3px solid #0E212A;
        height: 1.5rem;
        width: 1.5rem;
    }

    /* Contenedos de imagenes */
    .carruselconselectorimagenesytexto {
        height: 30vh;
    }

}