.carruselconselectorcontainer {
    width: 100%;
    height: 80dvh;
    overflow: hidden;
    position: relative;
}

/*-------------------------------------------------------*/

/* Selectores */
.carruselconselectorcontainerselector {
    position: absolute;
    bottom: 1rem;
    right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.selectorcarrusel {
    border-radius: 50%;
    background-color: transparent;
    border: 5px solid #0E212A;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.selectorcarrusel.active {
    background-color: #FFF;
}

/*-------------------------------------------------------*/

/* Contenedos de imagenes */
.carruselconselectorcontainerimgs {
    display: flex;
    width: 100%;
    list-style: none;
}

.carruselconselectorimagenesytexto {
    display: none;
    flex-direction: column;
    height: 80dvh;
    width: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.carruselconselectorimagenesytexto.visible {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    opacity: 1;
}

.carruselconselectorimagenesytexto.hidden {
    opacity: 0;
}

/*-------------------------------------------------------*/

/* Texto */
.carruselconselectorimagenesytexto>h3 {
    font-size: 60px;
    color: #75d569;
    background-color: #000000bc;
    padding: 1rem;
}

.carruselconselectorimagenesytexto>span {
    font-size: 25px;
    color: #75d569;
    background-color: #000000bc;
    padding: 1rem;
}

/*-------------------------------------------------------*/

/* Mediaquerys 350px a 720px */
@media (min-width: 350px) and (max-width: 720px) {
    .carruselconselectorcontainer {
        height: 85dvh;
    }

    /* Selectores */
    .carruselconselectorcontainerselector {
        right: 1rem;
        bottom: 1rem;
    }

    .selectorcarrusel {
        border: 3px solid #0E212A;
        height: 1.5rem;
        width: 1.5rem;
    }

    /* Contenedos de imagenes */
    .carruselconselectorimagenesytexto {
        height: 85dvh;
    }

    .carruselconselectorimagenesytexto.visible {
        justify-content: center;
    }

    .carruselconselectorimagenesytexto.hidden {
        opacity: 0;
    }

    /* Texto */
    .carruselconselectorimagenesytexto>h3 {
        font-size: 30px;
        padding: .5rem .3rem;
    }

    .carruselconselectorimagenesytexto>span {
        font-size: 20px;
        padding: .5rem .3rem;
    }
}