/* Container */
.containertarjetasforosvideojuegoscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
}

/*------------------------------------------------*/

/* Tarjetas grandes */
.tajetatripleforoscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: max-content;
    padding: 2rem;
}

.tajetatripleforoscontainer>a {
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tajetatripleforoscontainer>a:hover {
    scale: 105%;
}

.tajetatripleforoscontainer>a>img {
    height: 22rem;
    width: 13rem;
    border-radius: 20px;

}

/*------------------------------------------------*/

/* Tarjetas con botón Ver más */
.tarjetasconexplorarmascontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    height: 25rem;
}

/* Tarjetas triple */
.tarjetasconexplorarmascards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.tarjetasconexplorarmascards>a {}

.tarjetasconexplorarmascards>a>img {
    height: 11rem;
    width: 6rem;
    border-radius: 20px;
    transition: all .3s;
}

.tarjetasconexplorarmascards>a>img:hover {
    scale: 105%;
}

/* Botón Ver más */
.tarjetasconexplorarmascontainer>a {
    background-color: #78b7bad1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
    height: 7rem;
    padding: 1rem;
    text-decoration: none;
    color: #000;
    font-size: 30px;
    border-radius: 16px;
    text-align: left;
    transition: all .3s;
}

.tarjetasconexplorarmascontainer>a:hover {
    scale: 105%;
}

.tarjetasconexplorarmascontainer>a>p {
    width: 10rem;
}

.tarjetasconexplorarmascontainer>a>img {
    height: 5rem;
    width: 5rem;
}

/*------------------------------------------------*/

/* Mediaquerys 350px a 720px */
@media (min-width: 350px) and (max-width: 720px) {

    /* Container */
    .containertarjetasforosvideojuegoscontainer {
        flex-direction: column;
        padding: 0;
    }

    /*------------------------------------------------*/

    /* Tarjetas Triples */
    .tajetatripleforoscontainer {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: .3rem;
        width: 97%;
        gap: .5rem;
    }

    .tajetatripleforoscontainer>a>img {
        height: 16rem;
        width: 100%;
        border-radius: 10px;
    }

    .tajetatripleforoscontainer>a:hover {
        scale: 103%;
    }

    /*------------------------------------------------*/

    /* Tarjetas con botón Ver más */
    .tarjetasconexplorarmascontainer {
        width: 20rem;
        height: 21rem;
    }

    /* Tarjetas triple */
    .tarjetasconexplorarmascards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }

    /* Botón Ver más */
    .tarjetasconexplorarmascontainer>a {
        height: 5rem;
        font-size: 20px;
    }

}