.endirectoiniciocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.endirectoiniciocontainer>h3 {
    font-size: 25px;
}

.endirectoiniciocontainer>h3>strong {
    font-size: 40px;
    color: #94008d;
}

.endirectoiniciocontainertarjetasyvermas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
}

.endirectoiniciocontainertarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: max-content;
    text-decoration: none;
    color: #000;
    font-size: 30px;
    border-radius: 16px;
    overflow: hidden;
    text-align: left;
    transition: all .3s;
}

.endirectoiniciocontainertarjeta:hover,
.explorarmasdirectos:hover {
    scale: 103%;
}

.endirectoiniciocontainertarjetaimgrenvivo {
    height: 15rem;
    width: 12rem;
}

.endirectoiniciocontainertarjetaimgarrow {
    height: 4rem;
}

.explorarmasdirectos {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15rem;
    width: max-content;
    text-decoration: none;
    color: #000;
    background-color: aliceblue;
    font-size: 30px;
    border-radius: 16px;
    overflow: hidden;
    text-align: left;
    transition: all .3s;
}

/*-------------------------------------------------------*/

@media (min-width: 350px) and (max-width: 720px) {
    .endirectoiniciocontainer {
        padding: 1.5rem 0;
    }

    .endirectoiniciocontainer>h3 {
        font-size: 14px;
    }

    .endirectoiniciocontainer>h3>strong {
        font-size: 35px;
    }

    .endirectoiniciocontainertarjetasyvermas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem 0;
        gap: .5rem;
    }

    .endirectoiniciocontainertarjeta {
        height: 10rem;
        width: 7rem;
        font-size: 25px;
        border-radius: 16px;
        text-align: center;
    }
    
    .endirectoiniciocontainertarjeta:hover {
        scale: 103%;
    }
    
    .endirectoiniciocontainertarjetaimgrenvivo {
        height: 10rem;
        width: 7rem;
    }
    
    .endirectoiniciocontainertarjetaimgarrow {
        height: 4rem;
    }
    
    .explorarmasdirectos {
        grid-column: 1 / -1;
        height: 6rem;
        width: 100%;
        gap: 1rem;
        padding: .5rem;
        font-size: 25px;
        border-radius: 16px;
        text-align: center;
        flex-direction: row;
    }
}