/* Container  */
.navbar-container {
    width: 100%;
    position: fixed;
    z-index: 10;
}

.list-navbar {
    list-style: none;
    background-color: #0E212A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
    width: 100%;
}

/* Items izquierda */
.navbar-left-container {
    display: flex;
    justify-content: space-between;
    width: 10rem;
}

.navbar-left-container>a>img {
    height: 3rem;
}

/* Items derecha */
.navbar-right-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: max-content;
}

/* Opciones del navbar */
.item-navbar-l,
.item-navbar-r {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    gap: .3rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: all .3s;
    border-bottom: 1px solid transparent;
}

.item-navbar-r:hover {
    border-bottom: 1px solid #75d569;
    color: #75d569;
}

.item-navbar-r>img {
    height: 0;
}


/* Estilos personalizados */
.btns {
    padding: .3rem .6rem;
    cursor: pointer;
}

.btn-ingresar {
    border-radius: 10px;
    height: 3rem;
    width: 9rem;
    font-size: 19px;
    padding: .1rem .2rem;
    cursor: pointer;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #75d569;
    color: #75d569;
}

.btn-ingresar:hover {
    background-color: #75d5697f;
    border: 2px solid #75d569;
}

.btn-ingresar>img {
    height: 1.5rem;
}

.btn-menu>img {
    height: 2rem;
    width: 2rem;
}


/* Mediaqueryes 350px a 720px */
@media (min-width: 350px) and (max-width: 720px) {

    /* Container  */
    .list-navbar {
        padding: 0 1rem;
        height: 5rem;
    }

    /* Items izquierda */
    .navbar-left-container {
        display: none;
        pointer-events: none;
    }

    .navbar-right-container {
        width: 100%;
    }

    /* Opciones del navbar */
    .item-navbar-r {
        justify-content: space-between;
        font-size: 0px;
        gap: 0;
    }

    .item-navbar-r>img {
        height: 1.5rem;
    }


    /* Estilos personalizados */
    .btns {
        padding: .3rem 0;
    }

    .btn-ingresar {
        width: 6.5rem;
        font-size: 15px;
        gap: .1rem;
    }

    .btn-ingresar>img {
        height: 1.2rem;
    }

    .btn-menu>img {
        height: 2rem;
        width: 2rem;
    }
}