/* Container  */
.navbarcontainer {
    width: 100%;
}

.navbarcontainerlist {
    list-style: none;
    background-color: #0E212A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 0 3rem;
    width: 100%;
}

/*------------------------------------------------------------------------

/* Items izquierda */
.navbarcontaineritemleft {
    display: flex;
    justify-content: space-between;
    width: 10rem;
}

.navbarcontaineritemleftlink>img {
    height: 3rem;
}

/*------------------------------------------------------------------------

/* Items centro */
.navbarcontaineritemcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.navbarcontaineritemcenterlink {
    text-decoration: none;
    font-size: 20px;
    background-color: #F4BA2D;
    color: #fff;
    padding: .3rem .8rem;
    border-radius: 10px;
}

.navbarcontaineritemcenterlink:hover {
    background-color: #c49622;
}

/*------------------------------------------------------------------------

/* Items derecha */
.navbarcontaineritemright {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: max-content;
}

/* Buscar */
.navbarcontaineritemrightbuscar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 10px;
}

.navbarcontaineritemrightbuscar>input {
    border: none;
    outline: none;
    padding: .3rem .8rem;
    background-color: transparent;
    width: 15rem;
    height: 2.5rem;
    color: #fff;
}

.navbarcontaineritemrightbuscar>a>img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarcontaineritemrightbuscar>a>img {
    height: 2rem;
    padding: 0 .2rem;
}

.navbarcontaineritemrightbuscar>a>img:hover {
    scale: 105%;
}

/* Social */
.navbarcontaineritemrightsocial {
    position: relative;
}

.navbarcontaineritemrightsocialicon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    cursor: pointer;
}

.navbarcontaineritemrightsocialicon>img {
    height: 2rem;
}

/* Menú desplegable */
.navbarcontaineritemrightsocialmenudesplegablelist {
    list-style: none;
    position: absolute;
    top: 4rem;
    right: -2rem;
    padding: 1rem;
    background-color: #0E212A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 8rem;
}

.navbarcontaineritemrightsocialmenudesplegableitem>a {
    color: #F4BA2D;
    text-decoration: none;
}

.navbarcontaineritemrightsocialmenudesplegableitem>a:hover {
    color: #c49622;
    text-decoration: underline;
}


/* Usuario */
.navbarcontaineritemrightusuario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: #F4BA2D;
    text-decoration: none;
    font-size: 22px;
}

.navbarcontaineritemrightusuario:hover {
    color: #c49622;
}

.navbarcontaineritemrightusuario>img {
    height: 2rem;
}

/* Flecha para ver más */
#arrowdownnavbar {
    height: 1rem;
}

/* Mediaqueryes 350px a 720px */
@media (min-width: 350px) and (max-width: 720px) {}