.forosprincipalesiniciocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    background-color: #09092b;
}

.forosprincipalesiniciotextocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    border-top: 2px solid #36B6FF;
    border-bottom: 2px solid #36B6FF;
    width: 80%;
}

.forosprincipalesiniciotextocontainer>h3 {
    font-size: 35px;
    padding-bottom: 1rem;
    color: #36B6FF;
}

.forosprincipalesiniciotextocontainer>span {
    font-size: 16px;
    font-weight: bold;
    color: #3b3b3b;
}

.forosprincipalesiniciotarjetascontainer {
    padding: 1rem 0;
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

