.yatengounacuentacontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.yatengounacuentacontainer>a {
    color: #36b5ffbf;
}

.yatengounacuentacontainer>a:hover {
    color: #36B6FF;
}