.forosprincipalesiniciotarjetascontainer {
    padding: 1rem 0;
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.forosprincipalesiniciocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    background-color: #0E212A;
}

.forosprincipalesiniciotextocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    border-top: 2px solid #75d569;
    border-bottom: 2px solid #75d569;
    width: 80%;
}

.forosprincipalesiniciotextocontainer>h3 {
    font-size: 35px;
    padding-bottom: 1rem;
    color: #75d569;
}

.forosprincipalesiniciotextocontainer>span {
    font-size: 16px;
    font-weight: bold;
    color: #707070;
}



