.formularioiniciarcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    width: 50%;
    flex-direction: column;
    padding: 1rem;
}

.formularioiniciarusername,
.formularioiniciarpassword {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

/*-------------------------------------------------------*/

/* Inputs */
.formularioiniciarusername>input,
.formularioiniciarpassword>input {
    width: 100%;
    padding: .3rem;
    outline: none;
    border-radius: 5px;
    border: 3px solid #75d569;
}

/*-------------------------------------------------------*/

/* Botón Envíar */
.formularioiniciarcontainer>button {
    padding: .5rem 2rem;
    cursor: pointer;
    margin: 1rem 0;
    background-color: #0E212A;
    color: #0E212A;
    border: 2px solid #75d569;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
}

.formularioiniciarcontainer>button:hover {
    background-color: #75d569;
    border: 2px solid #fff;
    color: #0E212A;
}

/*-------------------------------------------------------*/

/* Mediaquerys 350px a 720px */
@media (min-width: 350px) and (max-width: 720px) {
    .formularioiniciarcontainer {
        width: 80%;
    }

}