.registrarsepagecontainer {
    height: 92dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #0E212A;
    color: #75d569;
}

.registrarsepagecontainer>h2 {
    font-size: 50px;
}


/*-------------------------------------------------------*/

/* Mediaquerys 350px a 720px */
@media (min-width: 350px) and (max-width: 720px) {
    .registrarsepagecontainer>h2 {
        font-size: 40px;
    }
    
}